<h2>Usuário</h2>
{{!-- <h2>{{user.name}}</h2>
<p>{{user.email}}</p> --}}

{{#if auth}}
    <h2>{{user.name}}</h2>
    <p>{{user.email}}</p>

    {{else}}
        <p>O Usuário não está cadastrado</p>
{{/if}}